datasets==3.2.0
fastapi==0.115.11
gensim==4.3.3
nltk==3.9.1
numpy==2.2.3
pandas==2.2.3
pydantic==2.10.6
scikit_learn==1.6.1
SQLAlchemy==2.0.36
tensorflow==2.18.0
tensorflow_intel==2.18.0
torch==2.5.1+cpu
transformers==4.47.1
